.header {
  position: relative;
  height: 100vh;
  background-image: linear-gradient(
      to right bottom,
      rgba($color-general-light, 0.8),
      rgba($color-general-dark, 0.8)
    ),
    url("../img/hero.jpg");
  background-size: cover;
  background-position: bottom;

  clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);

  &__info-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
}
